name: Release
on:
  workflow_dispatch:
    inputs:
      positional:
        description: "VERSIONING MODE: default - changed since the last release / from-git - tagged in the current commit / from-package - latest version is not present in the registry"
        required: true
        default: "default"
        type: choice
        options:
          - default
          # https://github.com/lerna/lerna/tree/main/libs/commands/version#semver-bump
          - patch
          - minor
          - major
          # https://github.com/lerna/lerna/tree/main/libs/commands/publish#usage
          - from-git
          - from-package
      force_publish:
        description: "Force publish"
        default: false
        required: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release-packages:
    name: Release Packages
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GIT_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run Tests
        run: npm run test

      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures

      # if publish to NPM
      - name: Setup npm auth
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc
          echo "access=public" >> .npmrc

      - name: Verify NPM Access
        run: npm whoami

      # required for LERNA
      - name: Set git user
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Show git user
        run: git config --list

      - name: Release Packages
        # https://github.com/lerna/lerna/tree/main/libs/commands/publish#readme
        run: npm exec -- lerna publish ${{ inputs.positional != 'default' && inputs.positional || '' }} --yes --no-private ${{ inputs.force_publish && '--force-publish' || '' }}
